build
*.zip
*.tar
*.jar
**/.idea/workspace.xml 
**/.idea/jarRepositories.xml
**/.idea/uiDesigner.xml
**/.idea/description.xml
**/.idea/vcs.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
**/.idea/androidTestResultsUserPreferences.xml
.gradle
gradle-wrapper*
*.pro
local.properties
/app/.idea
out
output