build
*.zip
*.tar
**/.idea/workspace.xml 
**/.idea/jarRepositories.xml
**/.idea/uiDesigner.xml
**/.idea/description.xml
**/.idea/vcs.xml
**/.idea/tasks.xml
**/.idea/compiler.xml
**/.idea/androidTestResultsUserPreferences.xml
.gradle
*.pro
local.properties
/app/.idea
out
output
app_package
/libs
java/project/SalmonTunnel/libs